<app-chat-contacts *ngIf="isContactsVisible" />
<main class="flex justify-center items-center w-full max-w-[100vw] min-h-dvh py-[30px] bg-[#ddd]">
  <div class="flex flex-col w-full max-w-[1200px] gap-[50px] mx-[30px]">
    <div class="flex gap-[20px_50px] items-center flex-wrap">
      <div class="flex gap-[15px] items-center w-full max-w-[250px] h-fit bg-white rounded-[10px] shadow-md">
        <div class="text-[30px] font-bold p-[30px] bg-[#eee] rounded-[10px]">
          {{user?.firstName?.charAt(0)?.toUpperCase()}}{{user?.lastName?.charAt(0)?.toUpperCase()}}
        </div>
        <div>
          <h2 class="text-[20px] font-medium">{{user?.firstName}} {{user?.lastName}}</h2>
          <p class="text-primaryBlue">&#64;{{user?.username}}</p>
          <div class="flex gap-[15px]">
            <a class="underline underline-offset-4" routerLink="/settings">Settings</a>
            <a class="text-primaryBlue underline underline-offset-4" (click)="logout()" routerLink="/">Logout</a>
          </div>
        </div>
      </div>
      <button
        (click)="onContactsClick()"
        class="text-[20px] text-white font-medium w-[150px] h-[50px] bg-black rounded-[10px] shadow-md"
      >
        Contacts
      </button>
    </div>
    <div class="flex w-full gap-[50px] flex-wrap sm:flex-nowrap">
      <app-chat-history [connectedUser]="user" />
      <app-chat-message [chatUserId]="chatUserId" class="w-full" />
    </div>
  </div>
</main>
